* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #F5F7FB;
  overflow-x: hidden;
}

.main-content {
  margin-left: 260px;
  width: calc(100% - 260px);
  min-height: 100vh;
  padding: 25px;
  background: #F5F7FB;
  transition: all .3s ease;
}

@media (max-width: 992px) {
  .main-content {
    margin-left: 0;
    width: 100%;
    padding: 15px;
  }
}
@media (max-width:768px){

.main-content{
    margin-left:0 !important;
    width:100% !important;
    padding:15px !important;
}

.sidebar{
    width:260px;
    left:-260px;
    transition:.3s;
}

.sidebar.show{
    left:0;
}

.card{
    margin-bottom:15px;
}

table{
    min-width:700px;
}
.topbar{
    margin-left:0 !important;
    width:100% !important;
    padding:15px !important;
}

}